<html layout:decorate="~{layout}">
	<head>
		<script>
			function link_HR() {
				var select = document.getElementById('department').value;
				if(select === 'HR') {
					location.href = "/approval/create/HR";
				}
			}
		</script>
		<title>결재</title>
	</head>
	<div layout:fragment="content" class="container">
		<form th:action="@{/approval/create}" method="post" enctype="multipart/form-data">
			<div class="card" th:object="${approvalForm}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}" id="department"  value="HR" oninput="link_HR()" />휴가</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}" value="General"/>일반</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}" value="accounting"/>회계</label>
				</div>
			
				<h5 class="card-header"><input type="text" th:field="*{title}" placeholder="제목을 입력해 주세요" style="font-size: 16px;"/></h5>
				<div class="card-body">
					<h5 class="card-title"><textarea th:field="*{content}" placeholder="내용을 입력해 주세요" style="font-size: 16px;"></textarea></h5>
					<label for="formFileMultiple" class="form-label">파일업로드</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
					<input class="btn btn-success" type="submit" value="등록하기" />
				</div>
			</div>
		</form>
	</div>
</html>