<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/approvalCreate.css}">
		<script>
			function link() {
				var select = document.getElementById('department').value;
				if(select === 'General' || select === 'expense') {
					location.href = "/approval/create";
				}
			}
		</script>
		<title>결재</title>
	</head>
	<div layout:fragment="content" class="container">
		<form th:action="@{/approval/create/HR}" method="post" th:object="${leaveForm}" enctype="multipart/form-data">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			
			<div class="select">
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}" id="department"  value="General" oninput="link()"/>일반</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}"value="HR">휴가</label>
				</div>
				<div class="form-check">
					<label class="form-check-label"><input class="form-check-input" type="radio" th:field="*{departmentName}"value="expense" oninput="link()">비용처리</label>
				</div>
			</div>
			
			<div class="input-form">
				<div>
					<select th:field="*{title}">
						<option hidden value="" selected>종류를 선택하세요.</option>
						<option value="유급휴가">개인연차</option>
						<option value="무급휴가">무급휴가</option>
						<option value="경조휴가">경조휴가</option>
					</select>
				</div>
				<div class="input">
					<label class="form-label">내용</label>
					<textarea th:field="*{reason}" class="form-control" placeholder="사유를 입력해 주세요" style="font-size: 16px;"></textarea>
				</div>
				<div class="input">
					<label for="startDate" class="form-label">휴가 시작 날짜</label>
					<input type="date" id="startDate" th:field="*{startDate}" class="form-control">
				</div>
				<div class="input">
					<label for="endDate" class="form-label">휴가 종료 날짜</label>
					<input type="date" id="endDate" th:field="*{endDate}" class="form-control">
				</div>
				
	            <input class="form-control" type="file" id="formFileMultiple" name="attachment" multiple><!-- 파일 -->
				<input class="btn" type="submit" value="등록하기" />
			</div><!-- input-form -->
		</form>
		<a th:href="@{/approval/list}" class="close">나가기</a>
	</div>
</html>