<html layout:decorate="~{layout}">
	<head>
		<title>결재 | 나의 결재 | 수정</title>
	</head>
	<div layout:fragment="content" class="container" style="padding-top: 50px;">
		<form th:action="@{|/approval/edit/${approval.approvalId}|}" method="post" enctype="multipart/form-data">
			<div class="card" th:object="${approvalForm}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				<input type="hidden" th:field="*{departmentName}" th:value="${approvalForm.departmentName}" />
				<h5 class="card-header"><input style="width: 100%; height: auto;" type="text" th:value="${approval.title}" name="title" /></h5>
				<div class="card-body">
					<h5 class="card-title"><textarea style="width: 100%; height: 300px;" th:text="${approval.content}" name="content"></textarea></h5>
					<label for="formFileMultiple" class="form-label">파일업로드</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
					<div th:each="file : ${fileList}">
						<span th:text="${file.originFileName}"></span>
						<a class="btn btn-danger" th:href="@{|/approval/deleteFile/${approval.approvalId}/${file.fileId}|}">x</a>
					</div>
					<input class="btn btn-success" type="submit" value="등록하기" />
				</div>
			</div>
		</form>
	</div>
</html>