<html layout:decorate="~{layout}">
	<head>
		<title>공지사항 게시판</title>
		<style>
			.test {
				background-color: darkcyan;
				color:white;
			}
		</style>
	</head>
	<div layout:fragment="content" class="container">
		<br>
		<div class="card">
			    <div class="card-body">
			        <div class="row">
			            <div class="col">
			<h2 for="title" class="form-label">제목</h2>
		<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
		<h2 class="card-header" th:text="${notices.title}"></h2>
						</div>
					</div>
				</div>
			</div>
		<br>
		<div class="mb-4">
	<table>
		<h4 for="content" class="form-label" >내용</h4>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col">
			<h5 class="card-title" style="resize: none;height: 100px;" th:text="${notices.content}"></h5>
					</div>
				</div>
			</div>
		</div>
	</table>
		</div>
			<br>
			<label for="formFileMultiple" class="form-label"></label>
				<!--<div class="card-text" th:if="${!fileList.isEmpty()}">-->
					<div class="card-text" th:each="file : ${fileList}">
					<a class="form-control btn test" id="formFileMultiple" th:text="${file.originFileName}"
					th:href="@{|/notices/download/${file.fileId}|}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<a th:href="@{|/notices/update/${notices.noticeId}|}" class="btn test my-3">글 수정</a>
		<a th:href="@{|/notices/delete/${notices.noticeId}|}" class="btn test my-3">글 삭제</a>
				</div>
			</div>
		</div>
	</div>	
</html>