<html layout:decorate="~{layout}">
	<head>
		<script>
			function update(){
				$("#fileName").css("display", "none");
				$("#formfileMultiple").css("display", "block");
			}
		</script>
		<title>공지사항 수정</title>
	</head>
	<div layout:fragment="content" class="container my-3">
		<div class="my-3 border-bottom">
			<h4>공지사항 수정</h4>
		</div>
		<form th:action="@{|/notices/update/${notices.noticeId}|}" th:object="${noticeForm}" method="post" enctype="multipart/form-data">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			<div class="mb-4">
				<lable for="title" class="form-label">제목</lable>
				<textarea class="form-control" name="title" th:text="${notices.title}"></textarea>
			</div>
			<div class="mb-4">
				<label for="content" class="form-label">내용</label>
				<textarea  class="form-control" name="content" th:text="${notices.content}"></textarea>
			</div>
			<div class="mb-4">
				<label for="formfileMultiple" class="form-label">첨부파일</label>
					<button type="button" onclick="update()">파일 수정</button>
						<div th:each="file : ${fileList}">	
							<p class="form-control" id="fileName" th:text="${file.originFileName}"></p>
								<input type="file" class="form-control" id="formfileMultiple" name="multiPartFile" multiple th:value="${file.originFileName}" style="display: none;">
						</div>
					<!--<span th:text="${file.originFileName}"></span>-->
			</div>
			<input type="submit" class="btn btn-success" value="등록하기">				
		</form>
	</div>
	<br>
</html>