<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/noticeForm.css}">
		<title>공지사항 게시판</title>
	</head>
	<div layout:fragment="content" class="container" style="padding-top: 50px;">
		<div class="detail">
			<div class="detail-input">
				<p>제목</p>
				<p th:text="${notices.title}"></p>
			</div>
			<div class="detail-input">
				<p>내용</p>
				<p th:text="${notices.content}"></p>
			</div>
			<div class="download" th:each="file : ${fileList}">
				<p>다운로드</p>
				<a id="formFileMultiple" th:text="${file.originFileName}"
				th:href="@{|/notices/download/${file.fileId}|}"></a>
			</div>
		</div>
		<div class="other-btn">
			<div class="btn-group" th:if="${#strings.equals(notices.user.username, users.username)}">
				<!--<a th:href="@{|/notices/update/${notices.noticeId}|}" class="button" sec:authorize="hasRole('ROLE_ADMIN')">수정</a>-->
				<a th:href="@{|/notices/update/${notices.noticeId}|}" class="button" >수정</a>
				<!--<a th:href="@{|/notices/update/${notices.noticeId}|}" class="button">수정</a>-->
				<a th:href="@{|/notices/delete/${notices.noticeId}|}" class="button">삭제</a>
			</div>
			<a th:href="@{/notices/list}" class="close c-button">나가기</a>
		</div>
	</div><!-- content end -->
</html>