<html layout:decorate="~{layout}">
	<head>
		<title>공지사항</title>
	</head>
	<div layout:fragment="content" class="container">
		<br>
		<h2 class="card-header" th:text="${notices.title}"></h2>
		<br>
		<div class="card-body">
			<h5 class="card-title" th:text="${notices.content}"></h5>
		<br>
		<h5>다운로드</h5>
			<label for="formFileMultiple" class="form-label"></label>
			<div class="card-text" th:each="file : ${fileList}">
				<a class="form-control btn btn-primary" id="formFileMultiple" th:text="${file.originFileName}"
					th:href="@{|/notices/download/${file.fileId}|}"></a>
			</div>
			<a th:href="@{|/notices/update/${notices.noticeId}|}" class="btn btn-success my-3">글 수정</a>
			<a th:href="@{|/notices/delete/${notices.noticeId}|}" class="btn btn-success my-3">글 삭제</a>
		</div>
		<br>
	</div>	
</html>