/* 공통 */
.container{width: 600px;}
.logo{margin-bottom: 50px;display: block;}
.form-control{padding-left: 40px !important;border: 1px solid rgb(32, 62, 110);}
.btn{width: 100%;background-color: rgb(32, 62, 110);color: #fff;height: 50px;}
.btn:hover{background-color: rgb(32, 62, 110);color: #fff;}
.btn:focus{background-color: rgb(32, 62, 110) !important;color: #fff !important;}
.btn:active{background-color: rgb(32, 62, 110) !important;color: #fff !important;}
input{height: 50px;}

.input{position: relative;}
.bi{position: absolute;top: 50%;transform: translateY(-50%);left: 10px;}

.join{display: flex;justify-content: space-between;margin-top: 10px;padding: 0 30px 0 30px;}
.join a{color: rgb(32, 62, 110);text-decoration: none;font-size: 14px;display: block;}
.join a:last-child{text-decoration:underline;}

/* find id */
#mailSend{padding: 30px;border: 1px solid rgb(32, 62, 110);border-radius: 10px;}
#mailSend input{margin-bottom: 20px;}

#limit{color: rgb(32, 62, 110);position: absolute;right: 10px;top: 50%;transform: translateY(-50%);}
#mailCodeCheck{padding: 30px;border: 1px solid rgb(32, 62, 110);border-radius: 10px;}
#mailCodeCheck input{margin-bottom: 20px;}

#mailCodeCheck #id_box{padding-top: 20px;border-top: 1px dashed rgb(32, 62, 110);margin-top: 20px;}
#mailCodeCheck #username{margin-bottom: 0;}
#id_box p{font-size: 0.8em;color: #777;}

/* find pw */
#findPW{padding: 30px;border: 1px solid rgb(32, 62, 110);border-radius: 10px;}
#findPW input{margin-bottom: 20px;}

#setting-form{padding: 30px;border: 1px solid rgb(32, 62, 110);border-radius: 10px;}

.setPW{display: flex;}
.setPW{margin-bottom: 5px;}
.setPW label{line-height: 50px;flex: 0.3;margin: 0;margin-right: 10px !important;border: 1px solid rgb(32, 62, 110);border-radius: 5px;text-align: center;}
.setPW input::placeholder{font-size: 0.8em;}
.setPW > div{flex: 0.7;}