a{text-decoration: none;color: #000;}

#main{display: flex;margin-top: 50px !important;}
.txt{padding-bottom: 10px;}
.txt h3{font-size: 22px;color: rgb(32, 62, 110);}
.txt img{width: 30px;}

.offcanvas-backdrop{background-color: rgba(0,0,0,0) !important;}
.icon-wrap{border: 1px solid rgb(32, 62, 110);border-bottom-left-radius: 20px;border-top-left-radius: 20px;border-right: none;}
.icon{width: 60px;margin: 20px 10px;}

/* approval */
#approval{width: 45%;margin-right: 10%;}
.nav{display: flex;}
.nav-item{flex: 1;}
.nav-link.active{color: #fff !important;background-color: rgb(32, 62, 110) !important;}
.nav-link{background-color: #ddd !important;border-color: rgb(32, 62, 110) !important;text-align: center;}

/* right */
#right{width: 45%;}
#notice{height: 250px;}
#publicForm{height: 250px;}

/* chat */
.chat{position: absolute;right: 0; top: 150px;}

/* calendar */
.calendar{position: absolute;right: 0;top: 260px;}
.fc-day-sun a{
    color: red !important;
}
.fc-day-sat a{
    color: blue !important;
}
.offcanvas-end {
	transition: transform 0.3s ease-in-out ;
}

/* hr */
.hr{position: absolute;right: 0; top: 370px;}

/* accounting */
.accounting{position: absolute;right: 0;top: 480px;}
.accounting .icon{margin-right: 0;margin-left: 20px;}