a{text-decoration: none;color: #000;}

#main{display: flex;margin-top: 50px !important;}
.txt{padding-bottom: 5px;}
.txt h3{font-size: 22px;color: rgb(32, 62, 110);}
.txt img{width: 30px;}

.offcanvas-backdrop{background-color: rgba(0,0,0,0) !important;}

/* approval */
#approval{width: 45%;margin-right: 10%;}
.approval-nav ul{display: flex;padding: 0;margin: 0;}
.approval-nav ul li{flex: 1;border: 1px solid rgb(32, 62, 110);border-top-left-radius: 5px;border-top-right-radius: 5px;}
.approval-nav ul li a{display: block;height: 40px;line-height: 40px;text-align: center;}
#approval .list{border: 1px solid rgb(32, 62, 110);border-top: none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 10px;height: 740px;}
#approval .list .table{margin: 0;}

/* right */
#right{width: 45%;}
#notice{margin-bottom: 50px;}
#welfaremall{margin-bottom: 50px;}
#publicForm{margin-bottom: 50px;}

#right .list{border: 1px solid rgb(32, 62, 110);border-radius: 5px;padding: 10px;height: 200px;}
#right .list .table{margin: 0;}

/* slider */
.slider{height: 200px;padding: 10px;border: 1px solid rgb(32, 62, 110);border-radius: 5px;}
.swiper{width: 100%;height: 100%;}
.swiper-slide{width: 30% !important;border: 1px solid #ccc;border-radius: 5px;}
.swiper-slide{text-align: center;font-size: 18px;background: #fff;display: flex;justify-content: center;align-items: center;}
.swiper-slide img{display: block;width: 100%;height: 100%;object-fit: cover;border-radius: 5px;}

.swiper-pagination-bullet{border: 1px solid #fff;}
.swiper-pagination-bullet-active{background-color: rgb(32, 62, 110) !important;border: 1px solid #fff;}

/* sidebar */
#sidebar{position: fixed;right: 0;display: flex;flex-direction: column;z-index: 500;top: 50%;transform: translateY(-50%);}
.icon-wrap{border: 1px solid rgb(32, 62, 110);border-bottom-left-radius: 20px;border-top-left-radius: 20px;border-right: none;display: block;margin-bottom: 10px;background-color: #fff;}
.icon{width: 60px;margin: 20px 10px;}

/* calendar */
.offcanvas.offcanvas-end{width: 40% !important;height: 75%;top: 70px;box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.fc-day-sun a{
    color: red !important;
}
.fc-day-sat a{
    color: blue !important;
}
.offcanvas-end {
	transition: transform 0.3s ease-in-out ;
}

/* accounting */
.accounting > .icon{margin: 20px 10px 20px 15px;}