a{text-decoration: none;color: #000;}

/* header */
#header{height: 70px;border-bottom: 1px solid rgb(31, 33, 131);position: relative;}

#time{padding-top: 10px;height: 60px;width: 100px;display: inline-block;}
#clock{width: 100%;height: 100%;text-align: center;line-height: 45px;margin: 0 !important;font-size: 20px;padding: 0 10px 0 10px;
	background-color: rgb(221, 221, 221);border-radius: 10px;}

.logo{position: absolute;left: 50%;transform: translateX(-50%);width: 200px;}
.logo img{width: 100%;}

.logout{display: block;float: right;height: 70px;line-height: 70px;font-weight: 600;}

.myPage:after{display: inline-block;content: "|";color: #ccc;margin-left: 10px;}
.myPage{height: 60px;float: right;display: block;padding-top: 10px;margin-right: 10px;}
.myPage img{height: 100%;}

.offcanvas-top{width: 350px;top: 65px !important;left: auto !important;right: 10px !important;border: 1px solid #000 !important;height: 250px !important;}
.offcanvas-body{padding: 0 !important;}

.menu:after{display: inline-block;content: "|";color: #ccc;}
.menu{height: 60px;float: right;display: block;padding-top: 10px;margin-right: 10px;}
.menu img{height: 100%;}

/* footer */ /* 203E6E(32, 62, 110) / (17, 36, 80) */
#footer{height: 200px;background-color: rgb(32, 62, 110);position: relative;}

.f_logo{width: 150px;display: block;}
.f_logo img{width: 100%;margin-top: 50px;}

.address{display: block;text-align: center !important;color: #fff;}
.copy{position: absolute;height: 50px;bottom: 0;border-top: 1px solid #aaa;}
.copy p{color: #fff; text-align: center !important;line-height: 50px;font-size: 14px;}