a{text-decoration: none;color: #000;}
html, body{height: 100%;}
body{overflow-y: scroll !important;padding: 0 !important;}
li{list-style: none;}
.container{height: calc(100% - 200px);}

/* header */
#header{height: 70px;border-bottom: 1px solid rgb(32, 62, 110);background-color: #fff;padding: 0 10px;z-index: 300;}

#time{padding-top: 10px;height: 60px;width: 100px;display: inline-block;}
#clock{width: 100%;height: 100%;text-align: center;line-height: 45px;margin: 0 !important;font-size: 20px;padding: 0 10px 0 10px;
	background-color: rgb(221, 221, 221);border-radius: 10px;}

.logo{position: absolute;left: 50%;transform: translateX(-50%);width: 200px;}
.logo img{width: 100%;}

.logout{display: block;float: right;height: 70px;line-height: 70px;font-weight: 600;}

/* 마이페이지 icon */
.myPage:after{display: inline-block;content: "|";color: #ccc;margin-left: 10px;}
.myPage{height: 60px;float: right;display: block;padding-top: 10px;margin-right: 10px;}
.myPage img{height: 100%;}

/* 마이페이지 팝업 */
.offcanvas-top{width: 350px;top: 65px !important;left: auto !important;right: 10px !important;height: 230px !important;z-index: 600;}
.offcanvas-body{padding: 0 !important;height: 100%;}

.my{box-shadow: 0 0 10px rgba(0,0,0,0.8);}
.info{padding: 20px;box-sizing: border-box;}
.info > div{display: flex;}
.info .info-photo{position: relative;width: 60px;}
.info-photo img{width: 100%;border-radius: 50%;}
.bi-camera{position: absolute;bottom: -5px;right: -10px;}

.info-profile{flex-grow: 1;margin-left: 30px;}
.info-profile p{margin: 0;width: 100%;}
.info-profile .profile:nth-child(2)::after{content: "/";display: inline-block;color: #ccc;}
.info-profile .profile{display: inline-block;}

.info .imgUpdate form{display: flex;}
.info .imgUpdate input{font-size: 0.9em;}

.myApproval{border-top: 1px solid rgb(32, 62, 110);}
.myApproval ul{display: flex;padding: 10px 0;box-sizing: border-box;height: 100%;margin: 0;}
.myApproval ul li{flex: 1;border-right: 1px solid rgb(32, 62, 110);position: relative;}
.myApproval ul li:last-child{border: none;}

.myApproval ul li span:first-child{display: block;text-align: center;line-height: 30px;}
.myApproval ul li .dot{position: absolute;top: 50%;transform: translateY(-50%);right: 10px;}
.myApproval ul li:nth-child(1) .dot{display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: #ccc;}
.myApproval ul li:nth-child(2) .dot{display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: rgb(251, 226, 2);}
.myApproval ul li:nth-child(3) .dot{display: inline-block;width: 25px;height: 25px;border-radius: 50%;background-color: rgb(66, 219, 66);}

.low{display: flex;border-top: 1px solid rgb(32, 62, 110);}
.low .attendance{flex: 1;border-right: 1px dashed rgb(32, 62, 110);}
.low a{display: block;height: 50px;line-height: 50px;text-align: center;color: rgb(32, 62, 110);font-weight: 600;}
.low a:hover{text-decoration: underline;}

.low .leave{flex: 1;border-right: 1px dashed rgb(32, 62, 110);}

.low .cart{flex: 1;}
.low .cart img{width: 30px;}

/* footer */ /* 203E6E(32, 62, 110) / (17, 36, 80) */
#footer{height: 200px;background-color: rgb(32, 62, 110);position: relative;}

.f_logo{width: 150px;display: block;}
.f_logo img{width: 100%;margin-top: 50px;}

.address{display: block;text-align: center !important;color: #fff;}
.copy{position: absolute;height: 50px;bottom: 0;border-top: 1px solid #aaa;}
.copy p{color: #fff; text-align: center !important;line-height: 50px;font-size: 14px;}

#swiper{width:100%; height: 100%;}
.swiper-slide {text-align: center; font-size: 18px; background: #fff; display: flex; justify-content: center; align-items: center;}
.swiper-slide img {display: block; width: 100%; height: 100%; object-fit: cover;}