/* list */
#wrap{display: flex;margin-top: 20px;margin-bottom: 20px;}
.my_mall{flex: 0.2;border-right: 1px solid #aaa;padding-right: 20px;}
.my_mall .my_product{display: flex;justify-content: space-between;}
.my_mall p{height: 40px;line-height: 40px;border: 1px solid #ddd;border-radius: 5px;}
.my_mall .my_product a{display: inline-block;height: 40px;line-height: 40px;flex: auto;text-align: center;border-radius: 5px;}
.my_mall .my_product a:nth-child(1){background-color: rgb(32, 62, 110);color: #fff;margin-right: 10px;}
.my_mall .my_product a:nth-child(2){border: 1px solid rgb(32, 62, 110);}

.product_list{flex: 0.8;}
.product{width: 30%;margin-right: 3%;float: left;margin-bottom: 30px;border: 1px solid #ddd;padding: 10px;border-radius: 5px;}
.product:after{content: "";display: block;clear: both;}
.product:nth-child(3n){margin-right: 0;}

.product a{display: block;}
.product img{border-radius: 5px;}
.product span{padding-left: 10px;display: inline-block;margin-top: 5px;}
.product small{display: inline-block;float: right;padding-left: 10px;margin-top: 5px;}

.product .product_footer{margin-top: 20px;}

.product_footer{width: 100%;height: 30px;}
.product_footer form{width: 100%;display: flex;justify-content: space-between;}
.product_footer form select{width: 50%;}
.product_footer .btn{display: inline-block;padding: 0 10px;border: 1px solid rgb(32, 62, 110);float: right;transition: all 0.3s;}
.product_footer .btn:hover{background-color: rgb(32, 62, 110);color: #fff;}
.product_footer .btn:focus{background-color: rgb(32, 62, 110) !important;color: #fff !important;}
.product_footer .btn:active{background-color: rgb(32, 62, 110) !important;color: #fff !important;}

.close{display: block;text-align: right;text-decoration: underline;}

/* detail */
.detail{display: flex;width: 70%;margin: 0 auto;margin-bottom: 20px;}
.detail .product_img{flex: 1;}
.detail .product_info{flex: 1;padding-left: 10%;}

.product_info .input{display: flex;}
.input p{height: 40px;line-height: 40px;border: 1px solid #ddd;border-radius: 5px;min-height: 40px;}
.input p:nth-child(1){flex: 0.3;margin-right: 10px;text-align: center;background-color: #eee;}
.input p:nth-child(2){flex: 0.7;padding-left: 10px; height: auto;}

.card-footer{height: 40px;}
.card-footer form{width: 100%;display: flex;justify-content: space-between;}
.card-footer form select{width: 50%;}
.card-footer .btn{display: inline-block;padding: 0 10px;border: 1px solid rgb(32, 62, 110);float: right;transition: all 0.3s;height: 40px;line-height: 40px;}
.card-footer .btn:hover{background-color: rgb(32, 62, 110);color: #fff;}
.card-footer .btn:focus{background-color: rgb(32, 62, 110) !important;color: #fff !important;}
.card-footer .btn:active{background-color: rgb(32, 62, 110) !important;color: #fff !important;}

.detail_img{width: 70%;margin: 0 auto;}
.button{width: 70%;margin: 0 auto;position: relative;}

.detail-close{text-decoration: underline;position: absolute;right: 0;top: 0;}

/* cartlist */
.table{margin-top: 20px;}
table tr th,td{text-align: center;}
.title th{background-color: #eee;text-align: center;}