<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/noticeForm.css}">
		<title>서식 생성</title>
	</head>
	<div layout:fragment="content" class="container" style="padding-top: 50px;">
		<div class="tit">
			<h4>서식 등록</h4>
		</div>
		<form th:action="@{/forms/create}" th:object="${formsForm}" method="post" enctype="multipart/form-data">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			
			<div class="input-form">
				<div class="input">
					<label for="title" class="form-label">제목</label>
					<input type="text" class="form-control" name="title">
				</div>
				<div class="input">
					<label for="content" class="form-label">내용</label>
					<textarea  class="form-control" name="content" rows="10"></textarea>
				</div>
				<input type="file" class="form-control" id="formFileMultiple" name="multiPartFile" multiple>
				<input type="submit" class="btn" value="등록하기">
			</div>
		</form>
		<a th:href="@{/forms/list}" class="close">나가기</a>
	</div>
	<br>
</html>