<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/noticeForm.css}">
		<title>서식 게시판</title>
	</head>
	<div layout:fragment="content" class="container" style="padding-top: 50px;">
		<div class="detail">
			<div class="detail-input">
				<p>제목</p>
				<p th:text="${forms.title}"></p>
			</div>
			<div class="detail-input">
				<p>내용</p>
				<textarea class="form-control" name="content" rows="10" th:text="${forms.content}" disabled></textarea>
			</div>
			<div class="download" th:each="file : ${fileList}">
				<p>다운로드</p>
				<a id="formFileMultiple" th:text="${file.originFileName}"
				th:href="@{|/notices/download/${file.fileId}|}"></a>
			</div>
		</div>
		<div class="other-btn">
			<div class="btn-group" th:if="${#strings.equals(forms.user.username, users.username)}">
				<a th:href="@{|/forms/update/${forms.formId}|}" class="button">수정</a>
				<a th:href="@{|/forms/delete/${forms.formId}|}" class="button">삭제</a>
			</div>
			<a th:href="@{/forms/list}" class="close c-button">나가기</a>
		</div>
	</div>	
</html>