<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/expenseList.css}">
		<title>회계 | 비용처리</title>
	</head>
<div layout:fragment="content" class="container">
	

	<style>
	    .sc {width: 100%; max-height: 800px; overflow: auto;  overflow-x: hidden;}
	</style>
	
	<style>
		.tableWrapper{
			max-height: 800px;
			min-height: auto;
			overflow: auto;
			overflow-x: hidden;
			border: 1px whitesmoke;
		}
		#expensel{
			width: 100%;
			
		}
		
		#expensel th {
			position: sticky;
			top: 0px;
		}
	</style>
	
	<p></p>		
	<div class="searchAndCreate">
	<div class="search-box">
		<form th:action = "@{/expense/list}" method = "post">
					<select name = "search">
						<option value = "WRITER">작성자
						<option value = "DEPARTMENT">부서
						<option value = "account">거래처
						<option value = "expenseType">비목
						</option>
					</select>
				
				<input type = "text" name = "browse" class="search-txt"/>
				<button type="submit" class="search">
					<img src="/images/search.png" alt="검색">
				</button>
		</form>
	</div>
		<div style="text-align: right;">
			<button type="button" class="btn-a" th:onclick="|location.href='@{/expense/list}'|">조건 초기화</button>
				&nbsp;
			<button type="button" class="btn-b" data-bs-toggle="modal" data-bs-target="#dateSetModal">날짜 설정</button>
				
			<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataUploadModal">데이터 업로드</button>
				&nbsp;-->	
		</div>
	</div>
		
	
	<p></p>
	
	<div style="text-align: right;" th:if="${totalPrice}!=0" th:text="${'총액 : ₩' + #numbers.formatInteger(totalPrice, 3, 'COMMA')}|"></div>
	<p></p>
	<div class="sc">
<table id = "expensel" class = "table table-striped table-hover">
	<thead class="table-light">
		<tr>
			<th>번호</th>
			<th>날짜</th>
			<th>부서</th>
			<th>이름</th>
			<th>비목</th>
			<th>금액</th>
			
		</tr>
	</thead>	
	<tbody>
		
		<tr th:each = "expense, loop : ${expenseList}">
			<td th:text="${loop.index + 1}"></td>
			<td><a th:href="@{|/expense/lists?date=${expense.useDate}|}" th:text="${#temporals.format(expense.useDate, 'yy-MM-dd')}"></a></td>
			
			<td><a th:href="@{|/expense/list?dn=${expense.writer.user.position.department.departmentName}|}" th:text="${expense.writer.user.position.department.departmentName}"></a></td>
			
			<td><a th:href="@{|/expense/list?userId=${expense.writer.userId}|}" th:text="${expense.writer.name}"></a></td>
			
			<td><a th:href="@{|/expense/list?et=${expense.expenseType} |}" th:text="${expense.expenseType}" ></td>
			
			<td><button class="btn btn-light" th:popovertarget="@{|popup/${expense.file.fileId}|}" popovertargetaction="toggle">
				<div th:text="${'₩' + #numbers.formatInteger(expense.amount, 3, 'COMMA')}" ></div>
				</button>
			</td>
			
			<div th:id="@{|popup/${expense.file.fileId}|}" popover>
				<dl>
					<dt><div th:text="|거래처 : ${expense.account}|"></div></dt>
					<dt><div th:text="|내역 : ${expense.breakDown}|"></div></dt>
					<dt><div th:text="|비고 : ${expense.description}|"></dt>
					<dt><p></p></dt>
					<dt><img th:src="@{|/expense/photo/${expense.file.fileId}|}" style="width: 600px;"></dt>	
				</dl>
			</div>
			
		</tr>
	</tbody>
	
</table>
</div>	
<p></p>


<!--dateSetModal_start-->
<div class="modal fade" id="dateSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">날짜 설정</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  <form th:action="@{/expense/list/date}" method="post">
      <div class="modal-body">
		<label>시작 날짜</label>
		<input type="date" name="startDate" />
		&nbsp;
		<label>종료 날짜</label>
		<input type="date" name="endDate" />
		<br>
		<small>검색하고 싶은 기간을 설정해주세요</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-a" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn-b">확인</button>
      </div>
	  </form>
    </div>
  </div>
</div>	
<!--dateSetModal_end-->
<!--receiptModal-->


</div>
</html>