<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/purchaseList.css}">
		
		<title>구매내역 상세보기</title>
	</head>
	<div layout:fragment="content" class="container">
		
		<style>
		    .sc {width: 100%; height: 600px; overflow: auto;  overflow-x: hidden;}
		</style>
		
		<style>
			.tableWrapper{
				max-height: 600px;
				min-height: auto;
				overflow: auto;
				overflow-x: hidden;
			}
			#purchasel{
				width: 100%;
				border: 0px;
			}
			
			#purchasel th {
				position: sticky;
				top: 0px;
			}
		</style>
		
	<p></p>
	<h3><div th:text="${titleName}"></div></h3>
	<div th:if="${pType}=='personal'" th:text="${details}"></div>
	<p></p>
	<div class="sc">
	<table id="purchasel" class="table table-striped table-hover">
		<thead>
			<tr class="table-light">
				<th>날짜</th>
				<th>이름</th>
				<th>옵션</th>
				<th>갯수</th>
				<th>금액</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="pData : ${pList}">
				<td th:text="${#temporals.format(pData.addDate, 'yyyy-MM-dd')}"></td>
				<td><a th:href="@{|/welfaremall/detail/${pData.product.productId}|}"  th:text="${pData.product.productName}"></a></td>
				<td th:text="${pData.option}"></td>
				<td th:text="${pData.quantity}"></td>
				<td th:text="${'₩' + #numbers.formatInteger((pData.point * pData.quantity), 3, 'COMMA')}"></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</html>