<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/purchaseList.css}">
		<script>
			$(function(){
				var status = $('#pt').val();
				if(status === "group"){
					$(".group").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}else {
					$(".personal").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}
			});
		</script>
		<title>회계</title>
	</head>
	<div layout:fragment="content" class="container">
	<p></p>
	<div style="text-align: center;"><h2>복지몰 구매내역</h2></div>
	<p></p>
	<div class="list">
		<input type="text" style="display: none;" th:value="${pt}" id="pt">
	  	<ul> 
	    	<li class="page-item"><a class="page-link group" th:href="@{?pt=group}">부서별</a></li>
	    	<li class="page-item"><a class="page-link personal" th:href="@{?pt=personal}">사원별</a></li>
	  	</ul>
	</div>
	
	<table class="table table-scriped-columns table-hover align-middle">
		<thead>
			<tr>
				
				<th>날짜</th>
				<th th:if="${pt=='personal'}">이름</th>
				<th th:if="${pt=='group'}">부서</th>
				<th>금액</th>
			</tr>
		</thead>
		<tbody>
				<tr th:if="${pt=='personal'}" th:each="pd : ${purchaseList}" >
					<td th:text="|${pd.year}년 ${pd.month}월|"></td>
					<td th:text="${pd.userDetail.name}"></td>
					<td><a href="#" th:text="|￦ ${pd.totalPrice}|"></a></td>
				</tr>
				
				<tr th:if="${pt=='group'}" th:each="pd : ${purchaseList}" >
					<td th:text="|${pd.year}년 ${pd.month}월|"></td>
					<td th:text="${pd.dep.departmentName}"></td>
					<td><a href="#" th:text="|￦ ${pd.totalPrice}|"></a></td>
				</tr>
			</tbody>
	</table>
</div>
</html>