<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/expense.css}">
		<title>회계 | 복지포인트 설정</title>
	</head>
	<div layout:fragment="content" class="container">
		<div class="d-flex justify-content-between" id="wrap">
			<div style="flex: 0.45;">
				<form th:action="@{/expense/wellfarePoint}" method="post" th:object="${pointInputForm}" >
					<div th:replace="~{form_errors :: formErrorsFragment}"></div>
					<div class="input">
						<label for="depPointPer" class="form-label">부서 인당 포인트</label>
						<input type="text" th:field="${wfPointInput.depPointPer}" class="form-control" />
					</div>
						
					<div class="input">
						<label for="depPointPlus" class="form-label">부서 플러스 포인트</label>
						<input type="text" th:field="${wfPointInput.depPointPlus}" class="form-control" />
					</div>		
						
					<div class="input">
						<label for="individualPoint" class="form-label">개인 포인트</label>
						<input type="text" th:field="${wfPointInput.individualPoint}" class="form-control" />
					</div>
					<input type="submit" value="저장하기" class="btn"/>
					
				</form>
				<div class="point-input">
					<strong>※ 포인트 입력시기 ※</strong>
					<p>부서 : 3월과 9월 1일 이후 첫 번째 평일 <br> 사원 : 매달 1일 이후 첫 번째 평일</p>
					<p>포인트 계산식 : 부서 인원 x 인당 포인트 + 플러스 포인트</p>
				</div>
			</div><!-- 포인트 지급 end -->
			<div style="flex: 0.4;">
				<div class="point">
					<strong>각 부서별 입력될 포인트</strong>
					<div>
						<p th:each="point : ${DeppList}" th:text="${point}"></p>
					</div>
				</div>
				<div class="point">
					<strong>현재 부서별 포인트</strong>
					<div>
						<p th:each="d : ${dep}" th:text="|${d.departmentName} : ${d.points} p|"></p>
					</div>
				</div>
				<div class="user-point">
					<strong>사원에게 입력되는 포인트</strong>
					<p th:text="|${wfPointInput.individualPoint} p|"></p>
				</div>
			</div><!-- 입력된 포인트 내역 end -->
		</div>
		<a th:href="@{/expense/menu}" class="close">나가기</a>
	</div><!-- container end -->
</html>