<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container-fluid">
		<form th:action="@{/approval/create}" method="post" enctype="multipart/form-data">
			<div class="card" th:object="${approvalForm}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				<h5 class="card-header"><input type="text" th:field="*{title}" /></h5>
				<div class="card-body">
					<h5 class="card-title"><textarea th:field="*{content}"></textarea></h5>
					<label for="formFileMultiple" class="form-label">파일업로드</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
					<input class="btn btn-success" type="submit" value="등록하기" />
				</div>
			</div>
		</form>
	</div>
</html>