<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<form th:action="@{/approval/create}" method="post" enctype="multipart/form-data">
			<div class="card" th:object="${approvalForm}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
				<select class="form-select" aria-label="Default select example" th:field="*{departmentName}">
				  <option selected value="">카데고리를 선택하세요.</option>
				  <option value="General">일반</option>
				  <option value="HR">휴가</option>
				  <option value="Accounting">비용처리</option>
				</select>
				<h5 class="card-header"><input type="text" th:field="*{title}" /></h5>
				<div class="card-body">
					<h5 class="card-title"><textarea th:field="*{content}"></textarea></h5>
					<label for="formFileMultiple" class="form-label">파일업로드</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
					<input class="btn btn-success" type="submit" value="등록하기" />
				</div>
			</div>
		</form>
	</div>
</html>