<html layout:decorate="~{layout}">
	
	<div layout:fragment="content" class="container my-3">
		<center>
			
	    <form id="checkInForm" th:action="@{/attendance/checkin}" method="post">
	   
			<input type="hidden" id="inlatitude" name="inlatitude">
			<input type="hidden" id="inlongitude" name="inlongitude">
			<input type="hidden" id="reason" name="reason">
			
	    <!-- 이미지 -->
	    <img src="/images/clock.png" alt="Submit" onclick="sendInLocation(event)" style="cursor: pointer;">
		
	    </form>
		
		</center>
	</div>

	</body>
	</html>

</html>