<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	

	<style>
	    .sc {width: 100%; height: 800px; overflow: auto;  overflow-x: hidden;}
	</style>
	
	<style>
		.tableWrapper{
			max-height: 600px;
			min-height: auto;
			overflow: auto;
			overflow-x: hidden;
		}
		#expensel{
			width: 100%;
			border: 0px;
		}
		
		#expensel th {
			position: sticky;
			top: 0px;
		}
	</style>
	
	<p></p>
	<div style="text-align: center;"><h2>비용처리 목록</h2></div>
	
	<p></p>
	
	<form th:action = "@{/expense/list}" method = "post">
		<div class = "mb-3" align="center">
			<tr>
			<td>
				<select name = "search">
					<option value = "WRITER">작성자
					<option value = "DEPARTMENT">부서
					</option></select>
			</td>
			<td><input type = "text" name = "browse"/></td>
			<td><input type = "submit" value = "검색" /></td>
			</tr>
		</div>
	</form>
	
	<div style="text-align: right;">
	<button type="button" class="btn btn-secondary" th:onclick="|location.href='@{/expense/list}'|">조건 초기화</button>
		&nbsp;
	<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#dateSetModal">날짜 설정</button>
		&nbsp;
	<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataUploadModal">데이터 업로드</button>
		&nbsp;&nbsp;
	</div>
	
	<p></p>
	<!--scrolltbody를 table class에 입력-->
	
	<div class="sc">
<table id = "expensel" class = "table">
	<thead class="table-dark">
		<tr>
			<th>번호</th>
			<th>날짜</th>
			<th>부서</th>
			<th>이름</th>
			<th>금액</th>
			
		</tr>
	</thead>	
	<tbody>
		
		<tr th:each = "expense, loop : ${expenseList}">
			<td th:text="${loop.index + 1}"></td>
			<td><a th:href="@{|/expense/lists?date=${expense.useDate}|}" th:text="${#temporals.format(expense.useDate, 'yy-MM-dd')}"></a></td>
			
			<td><a th:href="@{|/expense/list?st=${expense.writer.user.position.department.departmentName}|}" th:text="${expense.writer.user.position.department.departmentName}"></a></td>
			
			<td><a th:href="@{|/expense/list?st=${expense.writer.email}|}" th:text="${expense.writer.name}"></a></td>
			
			<td><button class="btn-open" th:popovertarget="@{|popup/${expense.file.fileId}|}" popovertargetaction="toggle">
				<div th:text="${'₩' + #numbers.formatInteger(expense.amount, 3, 'COMMA')}" ></div>
				</button>
			</td>
			
			<div th:id="@{|popup/${expense.file.fileId}|}" popover><img th:src="@{|/expense/photo/${expense.file.fileId}|}" style="width: 600px;"></div>
			
		</tr>
	</tbody>
	
</table>
</div>	
<p></p>



<!-- dataUploadModal_start-->
<div class="modal fade" id="dataUploadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">데이터 업로드</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  <form th:action="@{/expense/upload}" method="post" enctype="multipart/form-data">
      <div class="modal-body">
		
			<input class="form-control" type="file" id="formFileMultiple" name="multipartFiles" multiple>
			<br>
			<small>ctrl 버튼으로 사진 파일과 엑셀 파일을 각각 하나씩 등록해주세요 <br> 엑셀: xlsx <br>사진: jpg , jpeg , bmp , gif , png, webp</small>
			

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-primary">등록</button>
      </div>
	  </form>
    </div>
  </div>
</div>	
<!-- dataUploadModal_end-->
<!--dateSetModal_start-->
<div class="modal fade" id="dateSetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">날짜 설정</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	  <form th:action="@{/expense/list/date}" method="post">
      <div class="modal-body">
		<label>시작 날짜</label>
		<input type="date" name="startDate" />
		&nbsp;
		<label>종료 날짜</label>
		<input type="date" name="endDate" />
		<br>
		<small>검색하고 싶은 기간을 설정해주세요</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        <button type="submit" class="btn btn-primary">확인</button>
      </div>
	  </form>
    </div>
  </div>
</div>	

<!--dateSetModal_end-->
<!--receiptModal-->


</div>
</html>