<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<script th:src="@{/bootstrap.min.js}"></script>
		<title>비밀번호 찾기</title>
	</head>
	<body class="container">
		<img src="/images/sub_logo.png" class="mx-auto d-block mt-5" style="width: 300px;">
		<form th:action="@{/user/find/pw}" method="post" class="was-validated">
			
			<input type="text" id="username" name="username" class="form-control" placeholder="아이디를 입력해 주세요" required>
			<div class="invalid-feedback">비밀번호 찾기를 위해 아이디를 입력해 주세요.</div>
			
			<button type="submit" class="btn btn-success mt-3">비밀번호 찾기</button>
		</form>
		
		<div th:if="${#strings.isEmpty(users)}" th:text="${users}"></div>
		<div th:unless="${#strings.isEmpty(users)}" th:text="${users.password}"></div>
	</body>
</html>