<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<script th:src="@{/bootstrap.min.js}"></script>
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
		<script>
			
		</script>
		<title>아이디 찾기</title>
	</head>
	<body class="container">
		<a th:href="@{/}"><img src="/images/sub_logo.png" class="mx-auto d-block mt-5" style="width: 300px;"></a>
		<form th:action="@{/email/mailSend}" method="post" class="was-validated" th:if="${#bools.isFalse(status)}">
			<input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력해 주세요" required>
			<button type="submit" class="btn btn-success mt-3">인증 번호 받기</button>
		</form>
		
		<form th:action="@{/email/mailCheck}" method="post" class="was-validated" th:if="${#bools.isTrue(status)}">
			<input type="text" id="number" name="number" class="form-control" placeholder="인증 번호를 입력해 주세요" required>
			<button type="submit" class="btn btn-success mt-3">인증하기</button>
		</form>
	</body>
</html>