<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<div class="my-3 border-bottom">
			<h4>서식게시판 수정</h4>
		</div>
		<form th:action="@{|/forms/update/${forms.formId}|}" th:object="${formsForm}" method="post" enctype="multipart/form-data">
			<div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
			<div class="mb-4">
				<lable for="title" class="form-label">제목</lable>
				<textarea class="form-control" name="title" th:text="${forms.title}"></textarea>
			</div>
			<div class="mb-4">
				<label for="content" class="form-label">내용</label>
				<textarea  class="form-control" name="content" th:text="${forms.content}"></textarea>
			</div>
			<div class="mb-4">
				<label for="formfileMultiple" class="form-label">첨부파일</label>
				<input type="file" class="form-control" id="formfileMultiple" name="multiPartFile" multiple>
			</div>
			<input type="submit" class="btn btn-success" value="등록하기">				
		</form>
	</div>
	<br>
</html>