<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<br>
		<h4>유저 상세보기</h4>
		<tbody>
			<table class="table">
				<thead>
					<tr>
						<th>name</th>
						<th>position</th>
						<th>department</th>
						<th>photo</th>
						<th>birthdate</th>
						<th>email</th>
						<th>leave</th>
						<th>poionts</th>
						
					</tr>
				</thead>
				<tbody>
						<td th:text="${userDetails.name}"></td>
						<td th:text="${users.position.positionName}"></td>
						<td th:text="${positions.department.departmentName}"></td>
						<td th:text="${userDetails.photo}"></td>
						<td th:text="${userDetails.birthdate}"></td>
						<td th:text="${userDetails.email}"></td>
						<td th:text="${userDetails.leave}"></td>						
						<td th:text="${userDetails.points}"></td>
					</tr>
				</tbody>
			</table>
						<a th:href="@{|/user/update/${userDetails.userId}|}" class="btn btn-success my-3">수정</a>
						<a th:href="@{|/user/delete/${userDetails.userId}|}" class="btn btn-success my-3">삭제</a>
						<br>
			<table class="table">
				<thead>
				<tr>
					<th>출근 시간</th>
					<th>퇴근 시간</th>
					<th>업무 시간</th>
					<th>초과 시간</th>
					<th>지각 사유</th>
				</tr>
				</thead>
				<h3>근태기록</h3>
				<tbody>
						<tr th:each="attendances : ${attendance}">
						      <td th:text="${#temporals.format(attendances.checkInTime, 'yyyy.MM.dd HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.checkOutTime, 'yyyy.MM.dd HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.workTime, 'HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.overTime, 'HH:mm')}"></td>
							  <td th:text="${attendances.reason}"></td> 
						</tr>
				</tbody>
			</table>						
		</tbody>
	</div>
</html>