<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/index.css}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<script>
			$(function(){
				var status = $('#status').val();
				if(status === "queue"){
					$(".queue").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}else if(status === "process"){
					$(".process").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}else if(status === "complete"){
					$(".complete").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}
			});
		</script>
		<title>note</title>
	</head>
	<div layout:fragment="content" class="container my-3" id="main">
		
		<!-- 캘린더 -->
		<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">캘린더</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<div class="container">
					<div id='calendar'></div> <!--캘린더-->
				</div>
			</div>
		</div>
		<!-- 캘린더 -->
		
		<!-- 결재 -->
		<div id="approval">
			<div class="txt d-flex justify-content-between">
				<h3>결재</h3>
				<a th:href="@{/approval/list}"><img src="/images/plus_site.png"></a>
			</div>
			<input type="text" style="display: none;" th:value="${status}" id="status">
			<div class="approval-nav">
				<ul> 
					<li class="page-item"><a class="page-link queue" th:href="@{?status=queue}">결재 대기</a></li>
					<li class="page-item"><a class="page-link process" th:href="@{?status=process}">결재 중</a></li>
					<li class="page-item"><a class="page-link complete" th:href="@{?status=complete}">결재 완료</a></li>
				</ul>
			</div>
			<div class="list">
				<table class="table table-hover">
					<tbody>
						<tr th:each="approval : ${approvalList}">
							<td><a th:href="@{|/approval/detail/${approval.approvalId}|}" th:text="${approval.title}"></a></td>
						</tr>
					</tbody>
				</table>
			</div><!-- approval list end -->
		</div><!-- approval end -->
		<!-- 결재 -->
	
		<div id="right"> <!-- 오른쪽 배치 (공지, 서식, 복지몰) -->
			<div id="notice">
				<div class="txt d-flex justify-content-between">
					<h3>공지사항</h3>
					<a th:href="@{/notices/list}"><img src="/images/plus_site.png"></a>
				</div>
				<div class="list">
					<table class="table table-hover">
						<tbody>
							<tr th:each="notice : ${noticeList}">
								<td><a th:href="@{|/notices/detail/${notice.noticeId}|}" th:text="${notice.title}"></a></td>
							</tr>
						</tbody>
					</table>
				</div><!-- notice list end -->
			</div> <!-- notice end -->
			<div id="welfaremall">
				<div class="txt d-flex justify-content-between">
					<h3>복지몰</h3>
					<a th:href="@{/welfaremall/list}"><img src="/images/plus_site.png"></a>
				</div>
				<div class="slider">
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide" th:each="product : ${welfaremallList}">
								<a th:if="${product.mainImage!=null}" th:href="@{|/welfaremall/detail/${product.productId}|}"><img th:src="@{|/welfaremall/photo/${product.mainImage.fileId}|}"></a>
								<a th:unless="${product.mainImage!=null}" th:href="@{|/welfaremall/detail/${product.productId}|}"><img src="/images/no_image.jpg"></a>
							</div>
						</div>
						<div class="swiper-pagination"></div>
					</div>
				</div>
			</div> <!-- welfaremall end -->
			<div id="publicForm">
				<div class="txt d-flex justify-content-between">
					<h3>서식게시판</h3>
					<a th:href="@{/forms/list}"><img src="/images/plus_site.png"></a>
				</div>
				<div class="list">
					<table class="table table-hover">
						<tbody>
							<tr th:each="form : ${formList}">
								<td><a th:href="@{|/forms/detail/${form.formId}|}" th:text="${form.title}"></a></td>
							</tr>
						</tbody>
					</table>
				</div><!-- form list end -->
			</div> <!-- form end -->
		</div><!-- right end -->
		
		<div id="sidebar">
			<!--메세지-->
			<div>
				<a href="#" th:onClick="window.open('/message/list','message','width=800, height=600, toolbar=0, location=0, menubar=0, scrollbars=0')" class="chat icon-wrap">
					<img src="/images/chat.png" alt="채팅 아이콘" class="icon">
					<div id="viewbadge">
					<span id="unRM" class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger"></span>
					</div>
				</a>
			</div>
			<script>
				function unread(){
					let noRMbad = document.getElementById('unRM');
					fetch(`/message/unread`)
					.then((response)=>response.json())
					.then(data =>{
						let bad = document.getElementById('viewbadge');
						noRMbad.innerHTML = data;
						if(data === 0){
							bad.style.display = 'none';
						} else{
							bad.style.display = 'block';
						};
					 });
					//setTimeout(unread, 1000);
					//작동시 콘솔창 확인이 불가능해지므로 일단 막아놓겠음. 지우지 마.....
				}	
			</script>
			<!--메세지-->

			<!--캘린더-->
			<a href="#" class="calendar icon-wrap" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
				<img src="/images/calendar_icons.png" alt="캘린더 아이콘" class="icon">
			</a>
			<!--캘린더-->
			
			<!-- 인사 -->
			<div sec:authorize="hasAuthority('ROLE_HR')">
				<a th:href="@{/user/list}" class="hr icon-wrap">
					<img src="/images/hr.png" alt="인사 아이콘" class="icon">
				</a>
			</div>
			<!-- 인사 -->
			
			<!-- 회계 -->
			<div sec:authorize="hasAuthority('ROLE_ACCOUNTING')">
				<a th:href="@{/expense/menu}" class="accounting icon-wrap">
					<img src="/images/accounting.png" alt="회계 아이콘" class="icon">
				</a>
			</div>
			<!-- 회계 -->
			<!-- 부서 생성 -->
			<div sec:authorize="hasAuthority('ROLE_ADMIN')">
				<a th:href="@{/department/list}" class="depManage icon-wrap">
					부서관리 입장
				</a>
			</div>
			<!-- 부서 생성 -->
		</div><!-- sidebar end -->
		
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script>
			var swiper = new Swiper(".mySwiper", {
				slidesPerView: "auto",
				spaceBetween: 10,
				pagination: {
					el: ".swiper-pagination",
					clickable: true,
				},
				autoplay: {
					delay: 3000,
					disableOnInteraction: false,
				},
				loop:true
			});
		</script>
	</div><!-- container end -->
</html>