<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" href="/images/favicon.png" type="image/x-icon">
		<link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
		<script th:src="@{/bootstrap.min.js}"></script>
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
		
		<script>
			function startTime() {
			    var today = new Date();
			    var h = today.getHours();
			    var m = today.getMinutes();
			    var s = today.getSeconds();
			    m = checkTime(m);
			    s = checkTime(s);
			    document.getElementById('clock').innerHTML = h + ":" + m + ":" + s;
			    setTimeout(startTime, 500);
				
				var end = new Date(today.getFullYear(),today.getMonth(),today.getDate(),18,0,0)

				if(today.getTime() > end.getTime()) {
					document.getElementById('clock').style.backgroundColor = "lightgreen"
				}
			}
			function checkTime(i) {
			    if (i < 10) {i = "0" + i}; 
			    return i;
			}
		</script>
		
		<!-- fullcalendar CDN -->
		<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
		<!-- fullcalendar 언어 CDN -->
		<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
		<!--캘린더-->
		<script>
			
			document.addEventListener('DOMContentLoaded', function() {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				googleCalendarApiKey: "AIzaSyAgQkdHc7pSj2TBb3j0DnV3OfU-UNqsmt0",
				eventSources:[{
					googleCalendarId : 'ko.south_korea#holiday@group.v.calendar.google.com',
					backgroundColor: 'red',
				}],
			
				initialView: 'dayGridMonth',
				dayCellClassNames: function(arg) {
					if (arg.date.getDay() === 6) {
						return ['fc-day-sat'];
				    	}
				    if (arg.date.getDay() === 0) {
				        return ['fc-day-sun'];
				       	}
				    },
				locale: 'ko',
				events: '/calendar/get',
				customButtons: {
					myCustomButton: {
						text: '일정추가',
						click : function(){
							$("#exampleModal").modal("show");
						}
					}
				},
				headerToolbar: {
					left: 'prev,next today',
					center: 'title',
					right: 'myCustomButton dayGridMonth,timeGridWeek,timeGridDay,listWeek'
				},
				eventClick: function (info){
					
					info.jsEvent.preventDefault();
					
					if(confirm("'"+ info.event.title +"' 일정을 삭제하시겠습니까 ?")){
						var eventData = {
							id: info.event.id,
						};
				      
						$.ajax({
							type: "DELETE",
							url: "/calendar/delete",
							data: eventData
							})
						info.event.remove();
						}
					}					
				});

				//모달창 이벤트
				$("#saveChanges").on("click", function () {
				      var eventData = {
				        title: $("#title").val(),
				        start: $("#start").val(),
				        end: $("#end").val(),
				        color: $("#color").val(),
				      };
				      //빈값입력시 오류
				      if (eventData.title == "" || eventData.start == "" || eventData.end == "") {
				        alert("입력하지 않은 값이 있습니다.");
				        //끝나는 날짜가 시작하는 날짜보다 값이 크면 안됨
				      } else if ($("#start").val() > $("#end").val()) {
				        alert("시간을 잘못입력 하셨습니다.");
				      } else {
						$.ajax({
						    type: "POST",
						    url: "/calendar/save",
						    data: eventData,
						    success: function(response) {
						        calendar.addEvent(eventData);
						        $("#exampleModal").modal("hide");
						        $("#title").val("");
						        $("#start").val("");
						        $("#end").val("");
						        $("#color").val("");
						    },
						    error: function(xhr, status, error) {
						        console.log("Status: " + status);
						        console.log("Error: " + error);
						        console.log("Response: " + xhr.responseText);
						        alert(xhr.responseText);
						    }
						});
				      }
				});
				
				calendar.render();
			});
		</script>
		<!--캘린더-->
		<!--gps-->
		<script>
				function sendOutLocation(event) {
					event.preventDefault(); // 폼의 기본 동작을 막음

						if (navigator.geolocation) {
					    	navigator.geolocation.getCurrentPosition(function(position) {
					    		const latitude = position.coords.latitude;
					            const longitude = position.coords.longitude;
								const date = new Date();
								const hour = date.getHours();
								
								var check = confirm("퇴근 하시겠습니까?\n24시간이 넘어간 경우, 퇴근 시간이 18:00로 조정 됩니다.");
								if(check){
					                // 히든 필드에 위치 데이터 설정
					                document.getElementById("outlatitude").value = latitude;
					                document.getElementById("outlongitude").value = longitude;

					                // 폼을 제출
					                document.getElementById("checkOutForm").submit();
								}else{
									return;
								}
					         	}, showError);
					    } else {
					       		alert("해당 브라우저는 Geolocation를 지원하지 않음");
					       		}
					}
					
			function showError(error) {
				switch (error.code) {
					case error.PERMISSION_DENIED:
				    	alert("위치 요청을 거부하셨습니다.");
				        break;
				    case error.POSITION_UNAVAILABLE:
				        alert("위치 정보를 얻을 수 없음.");
				        break;
				    case error.TIMEOUT:
				        alert("타임아웃 에러");
				        break;
				    case error.UNKNOWN_ERROR:
				        alert("원인불명 에러 발생.");
				        break;
					}
				}
		</script>
		<!--gps-->
		<script>
			function photoUpdate() { //사진 업로드 토글 버튼
				$(".imgUpdate").toggle();
			}
		</script>
		<title>게시판</title>
	</head>
	<body onload="startTime()">
	<form id="checkOutForm" method="post" th:action="@{/attendance/checkout}">
			    <input type="hidden" id="outlatitude" name="outlatitude">
			    <input type="hidden" id="outlongitude" name="outlongitude">
	</form>
		<div id="header" class="container-fluid">
			<a href="#" id="time" onclick="sendOutLocation(event)">
				<p id="clock"></p>
			</a>
			<a th:href="@{/}" class="logo"><img src="/images/header_logo.png"></a>
			
			<a th:href="@{/user/logout}" class="logout">로그아웃</a>
			
			<!-- 마이페이지 -->
			<a href="#" class="myPage" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="/images/person.png"></a>
			<div class="offcanvas offcanvas-top my" data-bs-backdrop="false" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
			  	<div class="offcanvas-body d-flex flex-column">
					<div class="info" style="flex: 0.5;">
						<div th:if="${file!=null}"><img th:src="@{|/user/photo/${file.fileId}|}" style="width: 60px;"></div>
						<div th:unless="${file!=null}"><img src="/images/user.png" style="width: 60px;"></div>
						
						<form th:action="@{/user/photo}" method="post" enctype="multipart/form-data"><!-- 사진 업로드 시작 -->
							<i class="bi bi-camera" onclick="photoUpdate()"></i>
							<div class="imgUpdate" style="display: none;">
								<input class="form-control" type="file" id="formFileMultiple" accept=".jpg, .png, .gif, .jpeg, .bmp" name="multipartFiles">
								<input class="btn btn-success" type="submit" value="수정">
							</div>
						</form>
					</div><!-- 사진 직급(개인정보) end -->
					
					<div class="myApproval" style="flex: 0.25;">
						
					</div><!-- 나의 결재 end -->
					
					<div class="low" style="flex: 0.25;background-color: #eee;">
						<div class="attendance">
							<a th:href="@{/attendance/list}">출근 기록</a>
						</div>
						<div class="leave">
							<a th:href="@{/approval/create/HR}">휴가 신청</a>
						</div>
					</div><!-- 출근기록 휴가신청 end -->
			  	</div>
			</div>
			<!-- 마이페이지 -->
			
			<a href="#" class="menu"><img src="/images/menu.png"></a> <!-- menu -->
		</div><!-- header end -->
		
		<th:block layout:fragment="content"></th:block>
		
		<div id="footer" class="container-fluid">
			<div class="container">
				<a th:href="@{/}" class="f_logo"><img src="/images/footer_logo.png"></a>
				<p class="address">경기도 김포시 김포한강4로 125 10층 이젠아카데미컴퓨터학원</p>
				<div class="copy container">
					<p>Copyright&#169;2024 NoTE all rights reserved.</p>
				</div>
			</div>
		</div>
		
		<!-- 캘린더 modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
		        <div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">일정 추가</h5>
		            	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		         	</div>
		          	<div class="modal-body">
		            	일정이름 <input class="form-control form-control-sm" type="text" id="title" name="title"><br>
		            	시작시간 <input class="form-control form-control-sm" type="datetime-local" id="start"><br>
		            	종료시간 <input class="form-control form-control-sm" type="datetime-local" id="end"><br>
		            	배경색상
		            	<select id="color" class="form-select form-select-sm">
		              		<option value="red">빨강색</option>
		              		<option value="orange">주황색</option>
		              		<option value="yellow">노랑색</option>
		              		<option value="green">초록색</option>
		              		<option value="blue">파랑색</option>
		              		<option value="indigo">남색</option>
		              		<option value="purple">보라색</option>
		            	</select>
		          	</div>
		          	<div class="modal-footer">
		            	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
		            	<button type="button" class="btn btn-primary" id="saveChanges">추가</button>
		          	</div>
		        </div>
			</div>
		</div>
		<!-- 캘린더 modal -->
			
	</body>
</html>