<!DOCTYPE html>
<html lang="ko">

	<head>
		<!--Required meta tags-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--bootstrap css-->
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<!--Bootstrap js-->
		<script th:src="@{/bootstrap.min.js}"></script>
		<link rel="stylesheet" type="text/css" th:href="@{/message.css}">
		<style>
				#messages {
					margin: auto;
					}
					.left-align {
						text-align: left;}
					.right-align {
					    text-align: right;}
		</style>
		

	</head>
	
	<body>

    <div class="col-2" style = "height: 450px; overflow-y: auto; width: 200px;">
        <h4><div th:text="|${sessionName.name}의 메신저|"></div></h4>
        <hr>
		<div th:each="dep : ${depList}">
								
			<div class="accordion" id="accordionExample">
			  <div class="accordion-item">
			    <h2 class="accordion-header">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="@{|#collapse${dep.dep.departmentName}|}" 
				  							aria-expanded="false" th:aria-controls="@{|collapse${dep.dep.departmentName}|}" th:text="${dep.dep.departmentName}">
			      </button>
			    </h2>
			    <div th:id="@{|collapse${dep.dep.departmentName}|}" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					
			      <div class="accordion-body">
					<div  th:each="user : ${dep.udList}" style="text-align: start;">
					  <div style="text-align: right">
						<small><span th:text="${user.user.position.positionName}"></span></small>
						<a href="#" th:text="|/ ${user.name}|" th:onclick="openMessageRoom([[${user.user.username}]], [[${user.name}]])"></a></div>
					</div>
					
			      </div>
			    </div>
			  </div>
				
			</div>
			
		</div>
    </div>
	
	<div class="col-3">
	    <div id="messageRoom" class="d-none">
			<h4><div id="test"></div></h4>
			<hr>
			<!--대화 입력-->
	        <div class="col-4" id="messages" style="height: 400px; overflow-y: auto"></div>
			
			<div class="row justify-content-center my-3">
				<div class="input-group col-9" style="width: 400px;">
	        	<input class="form-control" type="text" id="messageInput" placeholder="메시지를 입력하세요" />
					<button class="btn btn-primary" id="enterkey" onclick="sendMessage()">전송</button>
				</div>
				
			</div>
	    </div>
    </div>


	</body>
	<script>
		   //스크롤 아래로
		    let scrollableDiv = 
		        document.getElementById('messages');


		    function scrollToBottom() {
		        scrollableDiv.scrollTop = scrollableDiv
		            .scrollHeight;
		    }
		</script>
	
	<!--엔터로 메세지 입력-->
	<script>
		var input = document.getElementById("messageInput");
		input.addEventListener("keypress", function(event){
			if(event.key==="Enter"){
				event.preventDefault();
				document.getElementById("enterkey").click();
			}
		});
	</script>
	<!--대화창 이름 띄우기-->
	<script>
		var test_id = document.getElementById("test");
		test_id.innerHTML = '대화';
	</script>
	
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
	
	<script>
	    let stompClient = null;
	    function connect() { // 웹소켓 연결
	        let socket = new SockJS("/ws");
	        stompClient = Stomp.over(socket);
	        stompClient.connect({}, function (frame) {
	            console.log('Connected: ' + frame);
	            stompClient.subscribe('/topic/messages', function (messageOutput) {
	                showMessage(JSON.parse(messageOutput.body));
	            });
	        });
	    }
		
		let selectedUsername = null; // 유저목록에서 선택한 유저
	    function openMessageRoom(username, name) { // 유저목록에서 유저를 클릭하면 시작
			test_id.innerHTML = name;
			selectedUsername = username;
	        document.getElementById('messageRoom').classList.remove('d-none');

			fetch(`/message/messages/${selectedUsername}`) // Controller로 보내기
			    .then(response => response.json())
			    .then(messages => {
			        let messagesDiv = document.getElementById('messages');
			        messagesDiv.innerHTML = ''; // 기존 메시지 초기화
			        messages.forEach(message => {
			            showMessage(message, name);
			        });
			    });
			
				
	    }
	    function sendMessage() { // 전송을 누르면, 대화내용 정보를 Controller로 보냄
	        let content = document.getElementById('messageInput').value;
	        stompClient.send("/app/message.sendMessage", {}, JSON.stringify({
	            'content': content,
	            'chatRoom': { 'user2': { 'username': selectedUsername } }
	        }));
			scrollToBottom();
			document.getElementById("messageInput").value = "";
	    }
		
	    function showMessage(message, name) { // 상대방은 왼쪽정렬, 본인은 오른쪽정렬
									
	        let messages = document.getElementById('messages');
	        let messageElement = document.createElement('div');
			let mess = document.createElement('div');
			
			let messageTime = message.sendTime.substring(2,10) +'  ' + message.sendTime.substring(11, 16);
			let alignmentClass = (message.sender.username === selectedUsername) ? 'left-align' : 'right-align';
			let font = mess.style.fontSize="small";
			
			messageElement.classList.add(alignmentClass);
			messageElement.innerText =  '[ ' + message.content + ' ]' + '\n';
			mess.classList.add(alignmentClass);
			mess.innerText = messageTime + 	'\n\n' ;
			messages.appendChild(messageElement);
			messages.appendChild(mess);
			scrollToBottom();
	    }
		
		
		
	    window.onload = connect;
	</script>
		
</html>