<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
		<link rel="stylesheet" type="text/css" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css}">
		<link rel="stylesheet" type="text/css" th:href="@{/regist.css}">
		<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
		<script th:src="@{/bootstrap.min.js}"></script>
		<script th:src="@{/show_password.js}"></script>
		<title>회원가입</title>
	</head>
	<body class="container">
		<img src="/images/sub_logo.png" class="mx-auto d-block mt-5" style="width: 300px;">
		<form th:action="@{/user/regist}" th:object="${userCreateForm}" method="post">
			<div th:replace="~{form_errors :: formErrorsFragment}"></div>
			
			<div>				
				<label for="password" class="form-label">아이디</label>
				<input type="text" id="username" th:field="*{username}" class="form-control" placeholder="아이디를 입력해 주세요">
			</div>
			
			<div class="mt-2">				
				<label for="password" class="form-label">비밀번호</label>
				<div class="input password" style="position: relative;">
					<input type="password" id="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력해 주세요">
					<div class="eyes" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);cursor: pointer;">
						<i class="bi bi-eye-slash"></i>
					</div>
				</div>
			</div>

			<div class="mt-2">				
				<label for="password" class="form-label">비밀번호 확인</label>
				<div class="input passwordCheck" style="position: relative;">					
					<input type="password" id="passwordCheck" th:field="*{passwordCheck}" class="form-control" placeholder="비밀번호를 다시 입력해 주세요">
					<div class="eyesCheck" style="position: absolute;right: 10px;top: 50%;transform: translateY(-50%);cursor: pointer;">
						<i class="bi bi-eye-slash"></i>
					</div>
				</div>
			</div>
			
			<div class="mt-2">				
				<label for="password" class="form-label">이름</label>
				<input type="text" id="name" th:field="*{name}" class="form-control" placeholder="이름을 입력해 주세요">
			</div>
			
			<div class="mt-2">				
				<label for="password" class="form-label">생년월일</label>
				<input type="date" id="birthdate" th:field="*{birthdate}" class="form-control" placeholder="생년월일을 입력해 주세요">
			</div>
			
			<div class="mt-2">				
				<label for="password" class="form-label">이메일</label>
				<input type="text" id="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해 주세요">
			</div>
				
			<button type="submit" class="btn btn-success mt-4">회원가입</button>
		</form>
	</body>
</html>