<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<br>
		<h3>유저 상세보기</h3>
		<br>
		<tbody>
			<table class="table">
				<thead class="table-success">
					<tr>
						<th>name</th>
						<th>position</th>
						<th>department</th>
						<th>birthdate</th>
						<th>email</th>
						<th>leave</th>
						<th>points</th>
					</tr>
				</thead>
				<tbody>
						<td th:text="${userDetails.name}"></td>
						<td th:text="${users.position.positionName}"></td>
						<td th:text="${positions.department.departmentName}"></td>
						<td th:text="${userDetails.birthdate}"></td>
						<td th:text="${userDetails.email}"></td>
						<td th:text="${userDetails.leaves}"></td>						
						<td th:text="${userDetails.points}"></td>
					</tr>
				</tbody>
			</table>
						<a th:href="@{|/user/update/${userDetails.userId}|}" class="btn btn-success my-3">수정</a>
						<a th:href="@{|/user/delete/${users.userId}|}" class="btn btn-success my-3">삭제</a>
						<br><br>
			<table class="table">
				<thead class="table-success">
				<tr>
					<th>출근 시간</th>
					<th>퇴근 시간</th>
					<th>업무 시간</th>
					<th>초과 시간</th>
					<th>지각 사유</th>
				</tr>
				</thead>
				<h4>근태기록</h4>
				<br>
				<tbody>
						<tr th:each="attendances : ${attendance}">
						      <td th:text="${#temporals.format(attendances.checkInTime, 'yyyy.MM.dd HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.checkOutTime, 'yyyy.MM.dd HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.workTime, 'HH:mm')}"></td>
							  <td th:text="${#temporals.format(attendances.overTime, 'HH:mm')}"></td>
							  <td th:text="${attendances.reason}"></td> 
						</tr>
				</tbody>
			</table>
			<table class="table">
				<thead class="table-success">
					<tr>
						<th>휴가 시작</th>
						<th>휴가 종료</th>
						<th>휴가 사유</th>
						<th> 비  고</th>
						
					</tr>
				</thead>
				<h4>휴가 내역</h4>
				<br>
				<tbody>
					<tr th:each="leave : ${leaves}">
				      <td th:text="${#temporals.format(leave.startDate, 'yyyy.MM.dd')}"></td>
					  <td th:text="${#temporals.format(leave.endDate, 'yyyy.MM.dd')}"></td>
					  <td th:text="${leave.reason}"></td>
					  <td th:each="file : ${leave.attachment}"><a th:href="@{|/user/download/${file.fileId}|}" th:text="${file.originFileName}"></a></td> 
					</tr>
				</tbody>
			</table>
			<a th:href="@{/user/list}" class="btn" style="text-decoration: underline;display: block;text-align: right;margin-top: 10px;">나가기</a>					
		</tbody>
	</div>
</html>