<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container">
		<h4>인사 페이지</h4>
		<tbody>
			<table class="table">
				<thead>
					<tr>	
						<th>name</th>
						<th>birthdate</th>
						<th>email</th>
						<!--<th>photo</th>
						<th>leave</th>
						<th>poionts</th>-->
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="users : ${userList}">
						<td>
							<a th:href="@{|/user/detail/${users.userId}|}" th:text="${users.name}"></a>
						</td>
						<td th:text="${users.birthdate}"></td>
						<td th:text="${users.email}"></td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/user/list}" method="post" >
					<input type="text" name="searchKeyword" class="form-control" placeholder="검색어를 입력하세요" />
					<input type="submit" value="검색" class="btn btn-success my-3" />
			</form>
			</tr>
		</tbody>
	</div>
</html>