<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/noticeForm.css}">
		<title>인사 페이지</title>
	</head>
	<div layout:fragment="content" class="container">
		<div class="d-flex justify-content-center">
			<h5>유저 목록</h5>
		</div>
		<div  class="my-3 border-bottom pb-2"></div>
			<div class="searchAndCreate">
				<div class="search-box">
		<form th:action="@{/user/list}" method="post" >
			<input type="text" name="searchKeyword" class="search-txt" placeholder="검색어를 입력하세요" />
				<!--<input type="submit" value="검색" class="btn btn-success my-3" />-->
				<button type="submit" class="search">
					<img src="/images/search.png" alt="검색">
				</button>	
		</form>
				</div>
			</div>
		<div style="display: flex;justify-content: space-between;">
			<table class="table" style="flex: 0.4;margin-right: 20px;">
				<thead class="table-success">
					<tr>	
						<th>name</th>
						<th>username</th>
						<th>email</th>
						<!--<th>birtdate</th>-->
					</tr>
				</thead>
				<tbody>
					<tr th:each="users : ${userList}">
						<td>
							<a th:href="@{|/user/detail/${users.userId}|}" th:text="${users.name}"></a>
						</td>
						<td th:text="${users.user.username}"></td>
						<td th:text="${users.email}"></td>
						<!--<td th:text="${users.birthdate}"></td>-->
					</tr>
				</tbody>
			</table>
			
			
			<table class="table" style="flex: 0.4;">
				<thead class="table-success">
					<tr>	
						<th>username</th>
						<th>updatePosition</th>
						<th>updateDepartment</th>
						<th>updatetime</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="positions : ${positionsList}">
						<td th:text="${positions.user.username}"></td>
						<td th:text="${positions.position.positionName}"></td>
						<td th:text="${positions.position.department.departmentName}"></td>
						<td th:text="${#temporals.format(positions.localDate,'yyyy.MM.dd')}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</html>