<html layout:decorate="~{layout}">
	<head>
		<title>유저 상세보기</title>
	</head>
	<div layout:fragment="content" class="container my-3">
		<div class="my-3 border-bottom">
			<h4>유저정보 수정</h4>
		</div>
		<form th:action="@{|/user/update/${users.userId}|}" method="post">
			<div class="mb-4">
				<option for="positionName" class="form-label"></option>
				<h3>부서/직급 변경</h3>
				<br>
				<select  class="form-control"name="departmentId">
					<option value="HR">HR</option>
					<option value="accounting">accounting</option>
					<option value="Marketing">Marketing</option>
					<option value="temp">temp</option>
				</select>
				<br>
				<select  class="form-control" name="positionName">
					<option value="section chief">section chief</option>
					<option value="deputy">deputy</option>
					<option value="worker">worker</option>
					<option value="intern">intern</option>
				</select>
				<br>
			</div>
				<br>
				<label for="updateTime" class="form-label">예약</label>
				<input type="date" id="updateTime" name="updateTime" value="2024-01-01" min="2024-01-01" max="2030-12-31">
				<input type="submit" class="btn btn-success" value="예약하기">	 
				<input type="submit" th:href="@{|/user/update/${users.userId}|}" class="btn btn-success" value="변경하기"/>
		</form>
	</div>
</html>