<html layout:decorate="~{layout}">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/approvalList.css}">
		<script>
			$(function(){
				var type = $('#type').val();
				if(type === "personal"){
					$(".personal").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}else if(type === "group"){
					$(".group").css({"background-color":"rgb(32, 62, 110)","color":"#fff"});
				}
			});
		</script>
		<title>복지몰 리스트</title>
	</head>
	<div layout:fragment="content" class="container">
		
		<div class="list">
			<input type="text" style="display: none;" th:value="${type}" id="type">
		  	<ul> 
		    	<li class="page-item"><a class="page-link personal" th:href="@{?type=personal}">개인별</a></li>
		    	<li class="page-item"><a class="page-link group" th:href="@{?type=group}">부서별</a></li>
		  	</ul>
		</div><!-- tab end -->
		<div class="searchAndCreate">
			<div class="search-box">
				<form th:action="@{/welfaremall/list}" method="post">
					<select name="type">
						<option value="personal">결재 대기</option>
						<option value="group">결재 중</option>
					</select>
					<input type="text" name="productName" class="search-txt" placeholder="검색어를 입력해 주세요"/>
					<button type="submit" class="search">
						<img src="/images/search.png" alt="검색">
					</button>
				</form>
			</div><!-- search end -->
			<a th:href="@{/welfaremall/create}" class="create">
				<img src="/images/pencil.png" alt="새글 생성">
			</a>
		</div><!-- search, create end -->
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col" th:each="product : ${list}">
				<div class="card shadow-sm">
					<a th:href="@{|/welfaremall/detail/${product.productId}|}" th:if="${product.mainImage!=null}">
						<img th:src="@{|/welfaremall/photo/${product.mainImage.fileId}|}" alt="productImg" class="bd-placeholder-img card-img-top" width="100%" height="225">
						<rect width="100%" height="100%" fill="#fff"></rect>
						<text x="50%" y="50%" th:text="${product.productName}"></text>
					</a>
					<a th:href="@{|/welfaremall/detail/${product.productId}|}" th:unless="${product.mainImage!=null}">
						<img src="/images/sub_logo.png" alt="productImg" class="bd-placeholder-img card-img-top" width="100%" height="225">
						<rect width="100%" height="100%" fill="#fff"></rect>
						<text x="50%" y="50%" th:text="${product.productName}"></text>
					</a>
					<div class="card-body">
						<p class="card-text" th:text="${product.description}"></p>
						<div class="d-flex justify-content-between align-items-center">
							
							<form th:action="@{|/welfaremall/addCart/${product.productId}|}" method="get" th:if="${!product.optionList.isEmpty}">
								<input type="hidden" name="to" value="list" />
								<input type="hidden" name="type" th:value="${type}" />
							<select name="option">
								<option th:each="option : ${product.optionList}" th:value="${option}" th:text="${option}"></option>
							</select>
								<input type="submit" class="btn btn-outline-success btn-sm" value="+" onclick="alert('장바구니추가');"/>
							</form>
							<a th:unless="${!product.optionList.isEmpty}" th:href="@{|/welfaremall/addCart/${product.productId}?to=list&type=${type}|}" type="button" class="btn btn-outline-success" onclick="alert('장바구니추가');" >+</a>
							<small class="text-body-secondary" >가격 : [[${product.price}]]</small>
						</div>
					</div>
				</div>
			</div>
		</div><!-- 결재 리스트 end -->
		<div th:if="${!list.isEmpty()}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:classappend="${!list.hasPrevious}?'disabled'">
					<a class="page-link" th:href="@{|?page=${list.number-1}|}">
						<span>&#60;</span>
					</a>
				</li>
				<li th:each="page : ${#numbers.sequence(0, list.totalPages-1)}" th:if="${page >= list.number -3 and page<= list.number +3}" th:classappend="${page==list.number} ? 'active'" class="page-item">
					<a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
				</li>
				<li class="page-item" th:classappend="${!list.hasNext} ? 'disabled'">
					<a class="page-link" th:href="@{|?page=${list.number+1}|}">
						<span>&#62;</span>
					</a>
				</li>
			</ul>
		</div><!-- paging end -->
		<div>
			<a th:href="@{|/welfaremall/viewCart?type=${type}|}" class="create">
				<img src="/images/cart.png" alt="카트">
			</a>
			<a th:href="@{|/welfaremall/purchase?type=${type}|}">구매내역</a>
		</div>
	</div>
</html>